n8n/workflows/data-collection-mapbiomas.json
{
  "name": "Data Collection - MapBiomas",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "data-collection-mapbiomas", "responseMode": "responseNode"},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Recebe payload do orquestrador com indicadores MapBiomas (ambientais)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json.body || $json;\nconsole.log(`[MapBiomas] Iniciando coleta de ${payload.indicators.length} indicadores`);\nreturn [{...payload, start_time: new Date().toISOString()}];"
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// MapBiomas API: https://api.mapbiomas.org/\n// Requer autenticação (token)\nconsole.log('[MapBiomas] ⚠️  MapBiomas API requer token de autenticação');\nconsole.log('[MapBiomas] Indicadores recebidos:', $json.indicators.map(i => i.code));\n\nconst summary = {\n  source: 'MapBiomas',\n  status: 'not_implemented',\n  message: 'MapBiomas API requires authentication token',\n  indicators_received: $json.indicators.length,\n  next_steps: [\n    'Register at MapBiomas platform',\n    'Obtain API token',\n    'Implement authenticated API calls',\n    'Process coverage data'\n  ]\n};\n\nreturn [summary];"
      },
      "id": "mapbiomas-placeholder",
      "name": "MapBiomas Placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Placeholder: MapBiomas requer token de API\nImplementar após obter credenciais"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"},
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Validate Payload"}]]},
    "Validate Payload": {"main": [[{"node": "MapBiomas Placeholder"}]]},
    "MapBiomas Placeholder": {"main": [[{"node": "Respond to Webhook"}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "tocantins-integrado"}, {"name": "data-collection"}, {"name": "mapbiomas"}],
  "meta": {"instanceId": "n8n-cloud"}
}
