n8n/workflows/Tocantins Integrado - Orquestrador.json
{
  "name": "Tocantins Integrado - Orquestrador",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "77346a38-1fa6-4069-8960-d6fed403308b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        1952
      ],
      "webhookId": "71b60e30-ca73-4065-ae17-0a7ab6f2c91d"
    },
    {
      "parameters": {
        "jsCode": "// Obter a classificação do nó anterior (ex: \"SOCIAL\" ou \"ECON,TERRA\")\nconst classificationString = $input.first().json.output;\n\n// Transformar a string em uma lista de agentes a serem chamados\nconst agentsToCall = classificationString.split(',');\n\n// Retornar os dados para o próximo nó\nreturn {\n  agentsToCall: agentsToCall\n};\n"
      },
      "id": "c93f873b-3ea1-42ea-bc89-ce2644aac80f",
      "name": "Processar Classificação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        1184
      ]
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {
          "reset": false
        }
      },
      "id": "52593cc6-fcca-469e-9ba5-454c5181aea5",
      "name": "Dividir por Agente",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1184
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agentsToCall }}",
                    "rightValue": "ECON",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94df872d-638c-49e1-81ac-11d7e82ddc78"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ECON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "eb9568fa-5894-41b8-9aeb-a1edbf6424f3",
                    "leftValue": "={{ $json.agentsToCall }}",
                    "rightValue": "SOCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOCIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4be24760-cec9-43e6-a9c4-56f113560718",
                    "leftValue": "={{ $json.agentsToCall }}",
                    "rightValue": "TERRA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TERRA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "96b0a858-d4c9-4696-96ce-3780bc92d8db",
                    "leftValue": "={{ $json.agentsToCall }}",
                    "rightValue": "AMBIENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AMBIENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fdba9db9-ede5-4556-b643-40c0116bf544",
                    "leftValue": "={{ $json.agentsToCall }}",
                    "rightValue": "ORCHESTRATOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ORCHESTRATOR"
            }
          ]
        },
        "options": {}
      },
      "id": "fdb48972-cee8-407c-8c62-6b0bd08bf8f1",
      "name": "Rotear para Agente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -48,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://galactic-ai.app.n8n.cloud/webhook/agent-econ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}"
            },
            {
              "name": "question",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d109ec56-f12f-4a2c-acdd-43bbfcf36bda",
      "name": "Chamar Agente ECON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://galactic-ai.app.n8n.cloud/webhook/agent-social",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}"
            },
            {
              "name": "question",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2752a31a-fd66-4a07-9c1e-945816d64606",
      "name": "Chamar Agente SOCIAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://galactic-ai.app.n8n.cloud/webhook/agent-terra",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}"
            },
            {
              "name": "question",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3590cd3e-f0ad-4448-863e-0db76c29ba36",
      "name": "Chamar Agente TERRA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://galactic-ai.app.n8n.cloud/webhook/agent-ambient",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}"
            },
            {
              "name": "question",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "054c2752-22f5-4171-8a6e-17aff79d435e",
      "name": "Chamar Agente AMBIENT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        624
      ]
    },
    {
      "parameters": {},
      "id": "59f63e72-312d-4b75-a048-9055495947e4",
      "name": "Consolidar Respostas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1104,
        1504
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Você é a Superinteligência Territorial do Tocantins, um sistema de IA avançado projetado para fornecer análises integradas sobre os municípios do estado. Sua função primária é receber análises detalhadas de múltiplos agentes especialistas (cobrindo dimensões como economia, sociedade, território, meio ambiente, etc.) e sintetizar essas informações em um relatório coeso, profundo e bem estruturado para o usuário final.\n\nA sua resposta DEVE seguir estritamente o seguinte formato Markdown, sem exceções:\n\n### 1. Resumo Executivo\n\nInicie com um parágrafo conciso (3-4 frases) que resume as conclusões chave da análise combinada, respondendo de forma direta e objetiva à pergunta original do usuário.\n\n### 2. Quadro-Resumo de Indicadores\n\nCrie uma tabela em formato Markdown que consolide os principais indicadores de todas as dimensões analisadas. A tabela deve ter as colunas \"Dimensão\", \"Indicador\" e \"Valor/Observação\". Agrupe os indicadores pela sua dimensão de origem.\n\n**Exemplo de Tabela:**\n\n| Dimensão | Indicador | Valor/Observação |\n| :--- | :--- | :--- |\n| Econômica | Atividade Principal | [Ex: Agronegócio e Serviços] |\n| Social | IDH Municipal | [Ex: 0.78 (Alto)] |\n| Territorial | Uso Predominante do Solo | [Ex: Pastagem e Agricultura] |\n| Ambiental | Passivo Ambiental | [Ex: 15% da área total] |\n\n### 3. Análise Integrada\n\nDesenvolva uma discussão aprofundada que conecte os pontos das diferentes dimensões fornecidas. Não se limite a repetir o que os agentes disseram. Sua principal contribuição é explorar as **inter-relações**. Por exemplo:\n\n- Como o **uso do solo (Territorial)** e as **regulamentações (Ambiental)** podem estar a influenciar a **atividade econômica (Econômica)**?\n- De que forma os **indicadores econômicos (Econômica)** se correlacionam com a **qualidade de vida e os dados demográficos (Social)**?\n- Existem desafios ou oportunidades que só se tornam visíveis quando cruzamos os dados de duas ou mais dimensões?\n\nSeja analítico, profundo e use os dados dos agentes como alicerce para construir uma síntese superior e de maior valor agregado.",
              "role": "system"
            },
            {
              "content": "=Consulta original: {{ $('When clicking ‘Execute workflow’').item.json.body.question }}\n\nCidade analisada: {{ $('When clicking ‘Execute workflow’').item.json.body.city }}\nResposta do Agente Especialista:\n\nResumo: {{ $json.summary }}\n\nPrincipais Descobertas:\n{{ $json.key_findings.join('\\n- ') }}\n\nRecomendações:\n{{ $json.recommendations ? $json.recommendations.join('\\n- ') : 'Não disponível' }}\n\nPor favor, consolide estas informações numa análise territorial integrada e coesa.\n"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "6892f07f-11a5-48d0-a2d5-95b853f4fc70",
      "name": "Consolidar com LLM",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        672,
        1168
      ],
      "credentials": {
        "openAiApi": {
          "id": "91zlCtPqrVu6rXoF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', response: $json.consolidatedResponse, agents_used: $json.agentsUsed, processing_time_ms: Date.now() - $json.startTime }) }}",
        "options": {}
      },
      "id": "eb524092-e75f-46b6-9fbe-b50cf85c16fd",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1024,
        1168
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        1408
      ],
      "id": "da3d3f9a-dbc0-41c8-bebe-e79d67710d19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "91zlCtPqrVu6rXoF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        1184
      ],
      "id": "1daa4f86-e046-4642-83af-33f5a9d65ad3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "agentsToCall",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        1184
      ],
      "id": "b5b78f3f-1f5b-4a0b-919b-72a608c55d0e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"info\",\n  \"message\": \"A sua pergunta não se enquadra nas áreas de análise especializada do sistema Tocantins Integrado (Economia, Social, Território, Ambiente). Por favor, reformule a sua pergunta com mais especificidade sobre um destes temas para que possamos fornecer uma análise detalhada.\",\n  \"suggestion\": \"Tente perguntas como: 'Qual a situação do emprego em Palmas?' ou 'Como está o desmatamento no Tocantins?'\"\n}",
        "options": {}
      },
      "id": "5f300e74-53b8-4532-b509-17a45cbee408",
      "name": "Responder Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        896
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.question }}"
            },
            {
              "content": "=Você é um assistente de IA responsável por classificar a pergunta de um utilizador para um dos seguintes agentes: ECON, SOCIAL, TERRA, AMBIENT. Responda apenas com o nome do agente mais apropriado. Se a pergunta for sobre múltiplos tópicos, responda com os nomes dos agentes separados por vírgulas (ex: ECON,SOCIAL). Se a pergunta for geral ou não se enquadrar em nenhuma categoria, responda com ORCHESTRATOR.\n\n- ECON: Finanças, PIB, emprego, impostos, orçamento, desenvolvimento económico.\n- SOCIAL: Educação, saúde, demografia, assistência social, cultura, segurança.\n- TERRA: Uso do solo, infraestrutura, urbanismo, geografia, território.\n- AMBIENT: Meio ambiente, sustentabilidade, recursos hídricos, desmatamento, clima.\n",
              "role": "system"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "26a5e596-87bf-474b-9699-029ef3a30f99",
      "name": "Classificar Consulta_orig",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -1104,
        2176
      ],
      "credentials": {
        "openAiApi": {
          "id": "91zlCtPqrVu6rXoF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "Você é um assistente de IA responsável por classificar a pergunta de um utilizador para um dos seguintes agentes: ECON, SOCIAL, TERRA, AMBIENT. Responda apenas com o nome do agente mais apropriado. Se a pergunta for sobre múltiplos tópicos, responda com os nomes dos agentes separados por vírgulas (ex: ECON,SOCIAL). Se a pergunta for geral ou não se enquadrar em nenhuma categoria, responda com ORCHESTRATOR.\n\n- ECON: Finanças, PIB, emprego, impostos, orçamento, desenvolvimento económico.\n- SOCIAL: Educação, saúde, demografia, assistência social, cultura, segurança.\n- TERRA: Uso do solo, infraestrutura, urbanismo, geografia, território.\n- AMBIENT: Meio ambiente, sustentabilidade, recursos hídricos, desmatamento, clima.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -880,
        1184
      ],
      "id": "d42dd6eb-ba9e-4c1e-aa42-2445b1bfb7fc",
      "name": "Classificar Consulta"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        1168
      ],
      "id": "77dabcd9-4316-4dd3-be7b-9ca7920172a5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dMQBZnTP9liaQet6",
          "mode": "list",
          "cachedResultUrl": "/workflow/dMQBZnTP9liaQet6",
          "cachedResultName": "Projeto Tocantins — Tocantins - Agente SOCIAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}",
            "city": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        288
      ],
      "id": "0bbeb524-cd03-4b65-819f-a23ae82a1827",
      "name": "Chama agente Social"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TwTRccShItQ8pB30",
          "mode": "list",
          "cachedResultUrl": "/workflow/TwTRccShItQ8pB30",
          "cachedResultName": "Projeto Tocantins — Tocantins Integrado - Agente ECON"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}",
            "question": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        96
      ],
      "id": "0a743532-d8a0-4cc1-a2c9-493bb39f7942",
      "name": "Chama agente ECON"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2mnIDkWrp59Dg9si",
          "mode": "list",
          "cachedResultUrl": "/workflow/2mnIDkWrp59Dg9si",
          "cachedResultName": "Projeto Tocantins — Tocantins - Agente TERRA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}",
            "question": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        464
      ],
      "id": "eaf69e84-5e0b-434c-8ebb-3d8def4ef1cf",
      "name": "Chama agente Terra"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "j8nsMXBSXeCPzAGC",
          "mode": "list",
          "cachedResultUrl": "/workflow/j8nsMXBSXeCPzAGC",
          "cachedResultName": "Projeto Tocantins — Tocantins - Agente AMBIENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}",
            "question": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        640
      ],
      "id": "68451c64-d16d-4a1b-9077-a8a703ce0ec8",
      "name": "Chama agente Ambient"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ \n  (() => {\n    const agent = $(\"Dividir por Agente\").item.json.agentsToCall.trim();\n    if (agent === 'ECON') return 'TwTRccShItQ8pB30';\n    if (agent === 'SOCIAL') return 'dMQBZnTP9liaQet6';\n    if (agent === 'TERRA') return '2mnIDkWrp59Dg9si';\n    if (agent === 'AMBIENT') return 'j8nsMXBSXeCPzAGC';\n    return '';\n  })().trim() // <-- A MUDANÇA CRUCIAL ESTÁ AQUI\n}}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20%0A%20%20(()%20=%3E%20%7B%0A%20%20%20%20const%20agent%20=%20$(%22Dividir%20por%20Agente%22).item.json.agentsToCall.trim();%0A%20%20%20%20if%20(agent%20===%20'ECON')%20return%20'TwTRccShItQ8pB30';%0A%20%20%20%20if%20(agent%20===%20'SOCIAL')%20return%20'dMQBZnTP9liaQet6';%0A%20%20%20%20if%20(agent%20===%20'TERRA')%20return%20'2mnIDkWrp59Dg9si';%0A%20%20%20%20if%20(agent%20===%20'AMBIENT')%20return%20'j8nsMXBSXeCPzAGC';%0A%20%20%20%20return%20'';%0A%20%20%7D)().trim()%20%2F%2F%20%3C--%20A%20MUDAN%C3%87A%20CRUCIAL%20EST%C3%81%20AQUI%0A%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $json.city }}",
            "question": "={{ $json.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        1328
      ],
      "id": "376b39d8-b0ec-4cf0-8d22-7e0d341fdfdc",
      "name": "Chama agente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e15ca2c-2e54-4e6f-8717-781ba5027dfd",
              "name": "city",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.city }}",
              "type": "string"
            },
            {
              "id": "a252dc7f-3f2d-4cc9-84d7-6f5463ecc83a",
              "name": "question",
              "value": "={{ $('When clicking ‘Execute workflow’').item.json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        1280
      ],
      "id": "1451ee18-a8d5-401f-933b-53fcc48ee5ff",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "host": "galactic-ai.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "87",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "64.227.21.251",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9bc674daf00172ad-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "64.227.21.251, 172.70.230.129",
            "x-forwarded-host": "galactic-ai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-vdndp",
            "x-is-trusted": "yes",
            "x-real-ip": "64.227.21.251"
          },
          "params": {},
          "query": {},
          "body": {
            "city": "Palmas",
            "question": "Faça uma análise completa de Palmas, considerando os aspectos socioeconômicos, o uso do solo e os principais desafios ambientais."
          },
          "webhookUrl": "https://galactic-ai.app.n8n.cloud/webhook-test/orchestrator",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        []
      ]
    },
    "Processar Classificação": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir por Agente": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear para Agente": {
      "main": [
        [
          {
            "node": "Chama agente ECON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chama agente Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chama agente Terra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chama agente Ambient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Agente ECON": {
      "main": [
        []
      ]
    },
    "Chamar Agente SOCIAL": {
      "main": [
        []
      ]
    },
    "Chamar Agente TERRA": {
      "main": [
        []
      ]
    },
    "Chamar Agente AMBIENT": {
      "main": [
        []
      ]
    },
    "Consolidar Respostas": {
      "main": [
        []
      ]
    },
    "Consolidar com LLM": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classificar Consulta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Classificar Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Dividir por Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Consulta_orig": {
      "main": [
        []
      ]
    },
    "Classificar Consulta": {
      "main": [
        [
          {
            "node": "Processar Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Consolidar com LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chama agente ECON": {
      "main": [
        []
      ]
    },
    "Chama agente Social": {
      "main": [
        []
      ]
    },
    "Chama agente Terra": {
      "main": [
        []
      ]
    },
    "Chama agente Ambient": {
      "main": [
        []
      ]
    },
    "Chama agente": {
      "main": [
        [
          {
            "node": "Dividir por Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chama agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20b87f41-7e7f-4e8b-bc27-a2ac49fbffaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6136551eb6eb1ac3d452dbcd165c5de72dbb472459ed630e41b95c04cec3f3e"
  },
  "id": "J5GD4fpeW8otEb9K",
  "tags": [
    {
      "updatedAt": "2026-01-11T15:50:47.931Z",
      "createdAt": "2026-01-11T15:50:47.931Z",
      "id": "L3nGoQVEW9akKkTW",
      "name": "orchestrator"
    },
    {
      "updatedAt": "2026-01-11T15:43:59.335Z",
      "createdAt": "2026-01-11T15:43:59.335Z",
      "id": "UrOLCsnVlKZpNwuW",
      "name": "tocantins-integrado"
    }
  ]
}